{% extends "layout.html" %}
{% block content %}
    <h3>About</h3>
    <article class="content-section">
    	<p>This is a blogging website, where you can write and share blogs. Blogs can be viewed at the home page. You have to create you account in order to start writing and posting blogs.</p>
    	<p>This website is made by me: Ninad Chavan. I made this website by following Corey Schafer's Youtube videos on Flask. My motivation in making this website was to learn Flask and get comfortable with a web framework.</p>
    	<p>I would like to thank Corey Schafer, his videos were really awesome. I learned a lot not only about Flask but also about many other things that are essential for smooth functioning of a website.</p>
    	<p>I look forward towards making even more progress and will keep on updating and upgrading this website as I learn about new things.</p>

    	<p>
    		My socials:<br>
    		<a href="https://twitter.com/ninadc32">Twitter</a><br>
    		<a href="https://www.instagram.com/ninadc32/">Instagram</a>
    	</p>

    	<p>
    		Coding Platforms:<br>
    		<a href="https://github.com/ninadchavan">GitHub</a><br>
    		<a href="https://codeforces.com/profile/ninadc">Codeforces</a><br>
    		<a href="https://www.codechef.com/users/ninadc32">Codechef</a>
    	</p>

    	<p>
    		Link to Corey Schafer's Flask playlist on Youtube:<br>
    		<a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">Flask Tutorials</a>
    	</p>
	</article>
{% endblock content %}
